body{
 background-color: #F4F7F9;
  margin: 0;
  overflow-x: hidden;
  max-width: 100vw;
  max-height: 100vw;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90px 1fr;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.inicio{
  display: flex;
  grid-column-start: 2;
  grid-column-end: 3;
}
.enlaces{
  display: flex;
  gap: 50px;
  height: auto;
  font-size: 25px;
  padding: 45px;
  width: 100%;
  transform: translateY(-30px);
  z-index: 1;
  animation: aparecer 1.2s both;
  animation-delay: 4.5s;
}
.raya{
   text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
  text-decoration-color: rgb(0, 0, 0);
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
a{
  text-decoration: none;
  color: #4A90E2;
  transition: 1s;
}
a:hover{
  transform: scale(1.3);
  color: black;
}

.sidebar{
  display: flex;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  background: #AEE1FC;
clip-path: ellipse(100% 70% at 0% 50%);
  min-height: 100vh;
  flex-direction: column;
  padding: 5px;
  z-index: 1;
  animation: side 2s ease-in-out both;
}

@keyframes side {
  0% {
    transform: translateX(-940px);
  }
  100% {
    transform: translateX(0px);
  }
}
.demo{
  margin-left: 180px;
}

.landing{
  margin-left: 180px;
  font-size: 90px;
  z-index: 1;
  color: #2C3E50;
}
.leads{
  font-size: 30px;
  margin-left: 180px;
  margin-top: -50px;
  z-index: 1;
  color: rgb(111, 122, 208);
}

.lead{
  margin-left: 180px;
  font-size: 25px;
  z-index: 1;
  color: #2C3E50;
}
button{
  font-size: 20px;
  width: 170px;
  height: 35px;
  border-radius: 30px;
  margin-left: 180px ;
  z-index: 1;
  color: white;
  background: #4A90E2;
  transition-duration: 1s;
}
button:hover{
  transform: scale(1.2);
  background: purple;
}

.iconos{
  width: 40px;
  position: relative;
  transform: translateX(180px);
  padding: 12px;
  margin-top: 70px;
}
main{
  display: flex;
  grid-column-start: 2;
  grid-row-start: 2;
  position: absolute;
  right: 50px;
  top:50px;
  z-index: 0;
  animation: imagen 2s ease-in-out both;
  animation-delay: 2s;
  align-items: flex-end;
}
@keyframes imagen {
  0% {
    transform: translateX(940px);
  }
  100% {
    transform: translateX(0px);
  }
}
.load{
  display: flex;
  width: 90%;
  transform: translateY(20px);
}
.circulo{
  z-index: 0;
  position: absolute;
  top: 120px;
  width: 200px;
  height: 230px;
  opacity: 0.30;
  overflow: auto;
}

.azul{
  z-index: 0;
  position: absolute;
  top: 20px;
  left: 600px;
  width: 200px;
  height: 230px;
  opacity: 0.30;
  overflow: hidden;
}
.mar{
  z-index: 0;
  position: absolute;
  top: 480px;
  left: 400px;
  width: 200px;
  height: 230px;
  opacity: 0.30;
  overflow: hidden;
}
.rio{
  z-index: 0;
  position: absolute;
  top: 600px;
  left: 50px;
  width: 200px;
  height: 230px;
  opacity: 0.30;
  overflow: hidden;
}