
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    min-height: 400px;
    width: 100%;
}

.contenedor {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.inicio {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background: #0f0f0f;
    position: sticky;
    top: 0;
    z-index: 100;
}


.buscar {
    width: 500px;
    height: 35px;
    border-radius: 20px;
    background: #0f0f0f;
    color: rgb(255, 255, 255);
    border: 2px solid gray;
    transform: translateY(-20px);
    position: relative;
    right: -420px;
    padding-left: 15px;
}

.audio {
    width: 50px;
    height: 50px;
    margin: 6px;
    position: relative;
    right: -420px;
    background: rgb(52, 49, 49);
    border-radius: 50%;
}

.izquierdo {
    position: absolute;
    right: 0;
    top: 0;
}

.crear {
    width: 90px;
    height: 40px;
    border-radius: 20px;
    transform: translateY(-20px);
    color: white;
    background: rgb(92, 92, 92);
}

.notificacion {
    width: 30px;
    height: 30px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
    padding: 3px;
}

.usuario {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-10px);
}

.enlaces {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 12px;
    width: 100%;
    margin-top: 15px;
    margin-left: 25px;
}

.enlace1, .enlace2, .enlace3, .enlace4, .enlace5 {
    color: white;
    text-decoration: none;
    background: #2c2c2c;
    border-radius: 10px;
    width: 80px;
    height: 25px;
    overflow: hidden;
    padding: 4px;
    text-align: center;
    margin-top: -10px;
}

.enlace5 {
    width: 200px;
}

.enlace3 {
    width: 95px;
}

.enlace1 {
    background: white;
    color: black;
}

.sidebar {
    background: #0f0f0f;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
    border-bottom: 1px solid white;
    height: 100%;
}

.sidebar-header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 15px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-size: 14px;
}

.nav-item:hover, .nav-item.active {
    background-color: #272727;
    transition: background-color 0.3s ease;
}

.menu-icon {
    width: 24px;
}

.logo {
    width: 90px;
}
.casa{
    width: 30px;

}

.pepa {
    width: 40px;
    border-radius: 50%;
}

.pipe {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 15px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    border-bottom: 1px solid white;
}

.main {
    column-count: 3;
    column-gap: 20px;
    padding: 20px;
    
}

.video-card {
    display: inline-block;      
    width: 520px;                
    max-width: 550px;          
    margin-bottom: 16px;
    background: #1e1e1e;
    border-radius: 12px;
    overflow: hidden;
    break-inside: avoid;
    color: white;
}

.thumbnail {
    width: 100%;
    height: auto;    
    object-fit: fill;
}
